---
const { language = 'en' } = Astro.props;
import FeaturesMap from '@/components/FeaturesMap';
---

<div class="w-full h-[500px] relative">
  <FeaturesMap client:load language={language} />
</div>

<style is:global>
  @import 'maplibre-gl/dist/maplibre-gl.css';
</style>